<table class="table table-striped">
  <thead>
    <th class="col-md-4 name"><%= smart_listing.sortable "Name", "name"%></th> 
    <th class="col-md-4 email"><%= smart_listing.sortable "Email", "email"%></th>
    <th class="col-md-2">Boolean</th>
    <th class="col-md-2"></th>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |user| %>
      <tr class="editable" data-id="<%= user.id %>">
        <%= smart_listing.render object: user, partial: "admin/users/item",
          locals: { object: user } %>
      </tr>
    <% end %>
    <%= smart_listing.item_new colspan: 4, link: new_admin_user_path %>
  </tbody>
</table>
<% # Render nice pagination links fitted for Bootstrap 3 by default %>
<%= smart_listing.paginate %>
<%= smart_listing.pagination_per_page_links %>
